.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.form h2 {
    display: flex;
    justify-content: center;
}
